- if !@projects.empty?
  .col-12.my-4#PE
    %h1.text-center Project Experience
  =render @projects
- if !@works.empty?
  .col-12.my-4#PW
    %h1.text-center Project Work
  =render @works
- if !@skills.empty?
  .col-12.my-4#TS
    %h1.text-center Technicall Skills
  -@skills.each do |skill|
    =render skill      