.col-md-12
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit consequatur ipsam rerum aperiam sunt quia repudiandae, est voluptatibus dolore consequuntur ex. Veniam ipsum, labore architecto voluptatibus, et esse odit repudiandae.