.col-12
  .card
    .card-body
      %h2.card-title= @experience.title
      %p.card-subtitle= @experience.user.email
      .my-3
        = link_to 'Edit', edit_experience_path(@experience),class:"btn btn-primary"
        \|
        = link_to 'Back', experiences_path,class:"btn btn-secondary"
